
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.pathfinder {
  position: relative;
  width: 100vw;
  height: 50vw;
  border: 1px solid green;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
