
.topbar {
  position: absolute;
  border: 1px solid red;
  width: 100%;
  height: 10%;
  top: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-button {
  border: 1px solid blue;
}
